.axis line {
                fill: none;
                stroke: black;
                shape-rendering: crispEdges;
}

.label {
            fill: black;
}

.point {
            r: 4.5px
}

.point:hover {
            fill: red;
            r: 12;
}

.toolTip {
            position: absolute;
            display: none;
            min-width: 80px;
            height: auto;
            background: none repeat scroll 0 0 #ffffff;
            border: 2px solid #d8b365;
            padding: 5px;
            text-align: center;
        }

.block:hover {
                opacity: 0.5;
}